<div class="container">
  <div class="todo-list">
    <h1>CRUD</h1>
    <div>
      <input [(ngModel)]="todo.Title" type="text" placeholder="Add anything" />
      <button [disabled]="!todo.Title" (click)="addTodo()" type="submit" >{{ todo.Id?'Update' :'Affix'}}</button>
    </div>
    <ul>

      <li *ngFor="let item of todoList">
     
        <label for="task3"> {{item.Title}}</label>
        <i (click)="editTodo(item)" class=" fa fa-pencil"></i>
        <i (click)="delteTodo(item.Id)" class="fa fa-times"></i>
       
      </li>
    </ul>
  </div>
</div>